.logo {
  height: 70px;
}

.nav-link {
  color: #fff !important;
  font-size: 21px;
  margin-right: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff !important;
}
.listitem{
  cursor: pointer;
  list-style-type: none;
  
  
}
